{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4 text-black">Frequently Asked Questions (FAQ)</h2>
            <hr>
            <!-- https://getbootstrap.com/docs/4.0/components/collapse/ -->
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                                How long will it take for my order to arrive, once it ships?
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Domestic orders normally arrive within 3-7 days of shipping, unless otherwise noted.

                            International orders normally arrive within 2-4 weeks of shipping. Please note that these
                            orders need to pass through the customs office in your country before it will be released
                            for final delivery, which can occasionally cause additional delays.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                What if something is not right on my customs invoice?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            If you have any issues with your customs invoice that you've received from us, please get
                            contact us and we'll be more than happy to get this sorted for you.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                What is your returns policy?
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            We get it, sometimes something just doesn't work for you and you want your money back. Don't
                            worry, as long as an item is still in its original condition, we accept returns, subject to
                            the rules below, which includes rules around fair use. None of these rules affect your
                            statutory rights.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}