<!-- Many thanks to Chris Zielinski and CI's 'Boutique Ado'
Walkthrough project - a great reference, inspiration and example:
https://github.com/Code-Institute-Solutions/boutique_ado_v1 -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <!-- sort by price ascending -->
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <!-- sort by rating descending -->
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <!-- sort by category ascending -->
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=tees" class="dropdown-item">Tees</a>
                <a href="{% url 'products' %}?category=hoodies" class="dropdown-item">Hoodies</a>
                <a href="{% url 'products' %}?category=shorts" class="dropdown-item">Shorts</a>
                <a href="{% url 'products' %}?category=hats" class="dropdown-item">Hats</a>
                <a href="{% url 'products' %}?category=tees,hoodies,shorts,hats" class="dropdown-item">All Clothing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="skateboards-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Skateboards
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="skateboards-link">
                <a href="{% url 'products' %}?category=penny_boards" class="dropdown-item">Penny Boards</a>
                <a href="{% url 'products' %}?category=regular_boards" class="dropdown-item">Regular Boards</a>
                <a href="{% url 'products' %}?category=long_boards" class="dropdown-item">Long Boards</a>
                <a href="{% url 'products' %}?category=penny_boards,regular_boards,long_boards" class="dropdown-item">All Skateboards</a>
            </div>
        </li>

        <li class="nav-item d-block">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'about' %}" id="about-link" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>

        <li class="nav-item d-block">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'newsletter' %}" id="subscribe-link" aria-haspopup="true" aria-expanded="false">
                Subscribe
            </a>
        </li>

        <li class="nav-item d-block">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'faq' %}" id="faq-link" aria-haspopup="true" aria-expanded="false">
                FAQ
            </a>
        </li>

        <li class="nav-item d-block">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'contact' %}" id="contact-link" aria-haspopup="true" aria-expanded="false">
                Contact
            </a>
        </li>
    </ul>
</div>