{% extends "base.html" %}
{% load static %}

<!-- Many thanks to Chris Zielinski and CI's 'Boutique Ado'
Walkthrough project - a great reference, inspiration and example:
https://github.com/Code-Institute-Solutions/boutique_ado_v1 -->
<!-- push top down to the bottom of main nav -->
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- render template variable to see all products -->
                {{ products }}
            </div>
        </div>
    </div>
{% endblock %}